<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>TA2 App</name>

    <description>
        An example for phonegap build docs.
    </description>
    
    <gap:plugin name="com.logilite.vision.camera" version="0.2.11" />

    <author href="https://smsvc.de" email="shini@smedia-service.de">
        Shini J. Karlson
    </author>

</widget>
